@model CarRentalApp.Models.CarModel

@{
    ViewData["Title"] = "Add New Car";
}


<h2>@ViewData["Title"]</h2>

<form asp-action="AddCar" method="post" asp-controller="Car" >
    <div class="mb-1">
        <label asp-for="Make"></label>
        <input asp-for="Make" />
    </div>
    <div class="mb-1">
        <label asp-for="Model"></label>
        <input asp-for="Model" />
    </div>
    <div class="mb-1">
        <label asp-for="Type"></label>
        <input asp-for="Type" />
    </div>
    <div class="mb-1">
        <label asp-for="Capacity"></label>
        <input asp-for="Capacity" />
    </div>
    <div class="mb-1">
        <label asp-for="Year"></label>
        <input asp-for="Year" />
    </div>
    <div class="mb-1">
        <label asp-for="LicensePlate"></label>
        <input asp-for="LicensePlate" />
    </div>
    <div class="mb-1">
        <label asp-for="DailyRate"></label>
        <input asp-for="DailyRate" />
    </div>
    <div class ="mb-1">
        <label asp-for="IsAvailable"></label>
        <input asp-for="IsAvailable" value="Yes" />
    </div>
    <!-- Repeat for other fields -->
    <div class="mb-1">
        <input type="submit" value="Add Car" class="btn btn-success mb-1" />
    </div>
</form>

  