@{
    ViewData["Title"] = "Welcome to the best";
    ViewData["Title2"] = "Car Rental App";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1>@ViewData["Title"]</h1>
            <h2>@ViewData["Title2"]</h2>
            <h4>Please click Login in the navigation bar to Login .</h4>
        </div>
    </div>
</div>
